$small: 700px;
$medium: 900px;
$large: 1920px;
$x-large: 2000px;

// Tablet
$t-small: 400px;
$t-medium: 500px;
$t-large: 700px;

// mobile
$m-small: 380px;
$m-medium: 590px;
$m-large: 990px;

// mobile
$mtwo-small: 500px;
$mtwo-medium: 600px;
$mtwo-large: 1000px;

// Mobile ultra {
@media (min-width: $m-small) {


    .banner {
        padding: 0px 2px 0 2px;
    }
}

h1 {
    font-size: 28px;

    &:hover {
        color: white;
    }
}

h2 {
    font-size: 24px;

    &:hover {
        color: white;
    }
}

h3 {
    font-size: 22px;

    &:hover {
        color: white;
    }
}

h4 {
    font-size: 20px;

    &:hover {
        color: white;
    }
}

h5 {
    font-size: 17px;

    &:hover {
        color: white;
    }
}

h6 {
    font-size: 11px;

    &:hover {
        color: white;
    }
}

p {
    font-size: 18px;
    padding-bottom: 8px;

    &:hover {
        color: rgb(4, 0, 0);
    }
}

quote {
    font-size: 26px;
}

.dropdown .dropbtn {
    font-size: 15px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

img {
    width: 100%;
}

.hero-title {

    .intro-copy {
        padding-top: 12px;
    }
}

.flex-area-alignment {
    .banner-area-first-about {}

    .banner-area-second-art {}
}

.image-layer {
    position: relative;
    top: 0px;
    z-index: -1;
    left: 0px;

}



.anchors {
    padding-bottom: 66px;
    margin-top: -26% !important;
}

// ANCHOR Floating Menu

.floating-mnu {
    font-size: 7px !important;
    height: 1px !important;
    margin-top: -5px !important;
    text-align: center !important;


    a {
        font-size: 0.2em;
        display: block;


        a:hover {
            font-size: 0.1em;

        }
    }

}

.navbar {
    font-size: 20%;
}

// Form
.form-body {
    padding: 8px 10px 8px 12px;

    .form-sub .ideal-time-month,
    .form-sub .email-name,
    .form-sub .file-ref,
    .form-sub .submit-reset {}
}

.slideshow-container {

    width: 90%;
}